<ul class="navbar">
  <% if @current_user %>
    <li class="navbar"><%= @current_user.username %></a></li>
    <li class="navbar"><%= link_to "課題一覧", admin_questions_path %></li>
    <li class="navbar"><%= link_to "課題作る", new_admin_question_path %></li>
    <li class="navbar"><%= link_to "タグ表示", admin_tags_path %></li>
    <li class="navbar"><%= link_to "タグ追加", new_admin_tag_path %></li>
    <li class="navbar"><%= link_to "質問をレビュー", admin_question_reviews_path %></li>
    <li class="navbar"><%= link_to "ユーザレポート", admin_user_reports_path %></li>
    <li class="navbar"><%= link_to "ログアウト", admin_log_out_path %></li>
  <% end %>
</ul>

