<div class="questionIndex">
  <%= select_tag :tagFilter, options_for_select(@tags, @select_tag_id), id: "tagFilter" %> タグでフィルタ
  <%= select_tag :tagFilter, options_for_select(@levels, @select_level), id: "levelFilter" %> レベルでフィルタ 
  <h1><%= title if title%></h1>
  <table class="questionTable">
    <tr class="questionFirstRow">
      <td class="content">内容</td>
      <td>時間</td>
      <td>レベル</td>
      <td>タグ</td>
      <td></td>
      <td></td>
    </tr>
    <% @questions.each do |q| %>
      <%= render partial: "question_box", locals: {question: q}%>
    <% end %>
  </table>
  <%= paginate @questions %>
  <%= yield %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    window.currentTagId = "<%= @select_tag_id %>"; 
    window.currentLevel = "<%= @select_level %>"; 

    $("#tagFilter").change(function() {
      window.currentTagId = $(this).val();
      filter();
    });
    $("#levelFilter").change(function() {
      window.currentLevel = $(this).val();
      filter();
    });

    window.filter = function() {
      var origin_url = window.location.origin;
      var url = origin_url.substr(0, origin_url.indexOf("?"));
      location.href = url + "?tag_id=" + window.currentTagId + "&level=" + window.currentLevel;
    }
  });
</script>
