<div class="questionIndex">
  <%= select_tag :tagFilter, options_for_select(@tags, @select_tag_id), id: "tagFilter" %> タグでフィルタ
  <h1><%= title if title%></h1>
  <table class="questionTable">
    <tr class="questionFirstRow">
      <td class="content">内容</td>
      <td>時間</td>
      <td>レベル</td>
      <td>タグ</td>
      <td></td>
      <td></td>
    </tr>
    <% @questions.each do |q| %>
      <%= render partial: "question_box", locals: {question: q}%>
    <% end %>
  </table>
  <%= paginate @questions %>
  <%= yield %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#tagFilter").change(function() {
      var tag_id = $(this).val();
      var origin_url = window.location.origin;
      var url = origin_url.substr(0, origin_url.indexOf("?"));
      location.href = url + "?tag_id=" + tag_id;
    });
  });
</script>
