<div class="tagForm">
  <div class='tagNotice'><%= flash.now[:notice] %>
  <h2><%= title %></h2>
  <%= form_for @tag, url: path do |f| %>
    内容：<%= f.text_area :content, rows: 1, cols: 10 %><br/>
    説明：<%= f.text_area :explaination, rows: 10, cols: 40 %><br/><br/>
    画像：<%= safe_tag_image f.object.image, size: '50x50' %><br/><br/><br/>
    タグ説明url: <%= f.object.explaination_url %><br/><br/>
    新しい画像アップロード：<%= f.file_field :image %><br/><br/><br/>
    <%= f.submit submit_btn, class: "button" if submit_btn %>
  <% end %>
</div>
