<div class="sectionTop">
  <div class="container">
    <div class="logo"></div>
    <h1>プログラマーのためのクイズアプリ</h1>
    <ul class="sellingPoint">
      <li>Hundreds of topics</li>
      <li>Over 220,000 questions</li>
      <li>Play against friends in <strong>real time</strong></li>
      <li>And it’s free!</li>
    </ul>
    <div class="storeBtn apple">
      <a href="https://itunes.apple.com/us/app/quizup-biggest-trivia-game/id718421443?mt=8&amp;uo=4" target="itunes_store">
        <img src="https://dlebm0f040apo.cloudfront.net/public/f399d2/images/app-store-btn-big-en_US.png">
      </a> 
    </div>
    <div class="loginBtn twitter">
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    </div>
    <div class="loginBtn facebook">
      <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    </div>

    <div id="iphoneDiv">
      <%= image_tag(asset_path('ios_sample_3.PNG'), size: '320x568', class: 'iphoneImg img0') %>
      <%= image_tag(asset_path('ios_sample_2.PNG'), size: '320x568', class: 'iphoneImg img1') %>
      <%= image_tag(asset_path('ios_sample_1.PNG'), size: '320x568', class: 'iphoneImg img2') %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    window.iphoneImgArray = $('.iphoneImg');
    var length = window.iphoneImgArray.length;
    console.log(length);
    window.currentImgIndex = 0;

    setInterval(function(){
      var prevImgClass = ".img" + window.currentImgIndex;
      window.currentImgIndex += 1;
      window.currentImgIndex = window.currentImgIndex % length;
      var nextImgClass = ".img" + window.currentImgIndex;
      
      $(nextImgClass).fadeIn('slow');
      $(prevImgClass).fadeOut('slow');
    }, 3000);
  });
</script>
