<div class="questionForm">
  <h2><%= title %></h2>
  <%= error_view(flash.now[:error]).html_safe %>
  <%= notice_view(flash.now[:notice]).html_safe %>
  <%= form_for @question, url: path do |f| %>
    内容：<%= f.text_area :content, rows: 10, cols: 30, id: "questionContent" %> &nbsp;&nbsp;&nbsp;&nbsp; <%= button_tag "レンダー →→", class: "btn btn-primary", id: "markdownRenderBtn", type: "button" %><br/>
    タグ：<%= f.select :tag_id, options_for_select(@tags, f.object.tag_id) %><br/>
    時間：<%= f.select :time, options_for_select(@timerange, f.object.time) %>秒<br/>
    参照url：<%= f.text_area :url, rows: 1, cols: 35 %> <br/>
    レベル：<%= slider_view(Question::LEVELNUM, default_level(f.object)).html_safe %>
    <span id="levelNum"><%= default_level(f.object) %></span><br/>
    <%= f.hidden_field :level, value: default_level(f.object) %>
    <%= f.fields_for :answers do |builder| %>
    <div class="answerRow">
      <%= builder.label :content, "回答内容", class: "answerInput" %>
      <%= builder.text_field :content, :rows => 1, class: "answerInput" %>
      <%= builder.label :flag, "正" %>
      <%= builder.radio_button :flag, 1, {checked: builder.object.flag == 1, class: "answerFlagRadio", state: builder.object.flag == 1} %>
      <br/>
    </div>
    <% end %>
    <%= f.submit submit_btn, class: "btn btn-primary" if submit_btn%>
  <% end %>
</div>
<div class="iphone">
  <div class="markdownRender">
  </div>
</div>


<%= javascript_include_tag 'bootstrap-slider' %>
<%= stylesheet_link_tag 'slider' %>
<script type="text/javascript">
  $(document).ready(function() {
    value = $("#levelNum").html();
    $(".slider").slider({value: parseInt(value)})
      .on('slide', function(ev) {
        $(this).closest('form').find('#question_level').val(ev.value);
        $(this).closest('form').find('#levelNum').html(ev.value);
      });
    $("#markdownRenderBtn").click(function() {
      text = $("#questionContent").val();
      $.post("/admin/markdown", {text: text}, function(data) {
        $(".markdownRender").html(data);  
      });
      });
    $(".answerFlagRadio").click(function() {
      var state = $(this).prop('state');
      $(this).prop('checked', !state);
      $(this).prop('state', !state);
      $(this).val(!state ? 1 : 0);
    });

  });
</script>
