<body bgcolor="#BDC3C7">
  <%= flash[:error] %>
  <div class="questionForm">
    <h2>問題作成</h2>
    <%= form_for @question, url: admin_questions_path do |f| %>
      内容：<%= f.text_area :content, rows: 1 %><br/>
      タグ：<%= f.select :tag_id, options_for_select(@tags) %><br/>
      時間：<%= f.select :time, options_for_select(@timerange) %>秒<br/>
      レベル：<%= slider_view(Question::LEVELNUM).html_safe %>
      <span id="levelNum"></span><br/>
      <%= f.hidden_field :level %>
      <%= f.fields_for :answers do |builder| %>
      <div class="answerRow">
        <%= builder.label :content, "内容", class: "answerInput" %>
        <%= builder.text_field :content, :rows => 1, class: "answerInput" %>
        <%= builder.label :flag, "結果", class: "answerInput" %>
        <%= builder.select :flag, options_for_select([["正",0],["否",1]], selected: 1) , class: "answerInput" %>
        <br/>
      </div>
      <% end %>
      <%= f.submit "問題を作る", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= javascript_include_tag 'bootstrap-slider' %>
  <%= stylesheet_link_tag 'slider' %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".slider").slider()
        .on('slide', function(ev) {
          $(this).closest('form').find('#question_level').val(ev.value);
          $(this).closest('form').find('#levelNum').html(ev.value);
        });
    });
  </script>
</body>
