<!DOCTYPE html>
<html>
<head>
  <title>Puqiz</title>
  <%= stylesheet_link_tag    "home/application", :media => "all" %>
  <%= javascript_include_tag "home/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/home/navbar" %>
<%= yield %>
<%= render partial: "layouts/home/footbar" %>

</body>
</html>
