<div class="userIndexrow">
  <div class="leftRow">
    <%= render partial: "analytic_table" %>
    <div class="analyticChart">
      <canvas id="allLangChart" width="500px" height="500px"></canvas>
    </div>
  </div>
  <div class="rightRow"> 
    <div class="buttonRow"> 
      <div class="contributeButton" id="contributeForm2"> 
        <a href="#small-dialog-2" data-effect="mfp-move-horizontal"> 
          なぜ質問貢献すべき？
        </a> 
      </div>

      <div class="contributeButton" id="contributeForm3"> 
        <a href="#small-dialog-3" data-effect="mfp-move-horizontal"> 
          どうやって？
        </a> 
      </div>

      <div class="contributeButton" id="contributeForm1"> 
        <a href="#small-dialog-1" data-effect="mfp-move-horizontal"> 
          質問投稿
        </a> 
      </div>
    </div>

    <div id="small-dialog-1" class="white-popup mfp-with-anim mfp-hide">
      <%= render partial: "question_form" %>
    </div> 

    <div id="small-dialog-2" class="white-popup mfp-with-anim mfp-hide">
      <%= render partial: "why_contribute" %>
    </div>

    <div id="small-dialog-3" class="white-popup mfp-with-anim mfp-hide">
      <%= render partial: "how_contribute" %>
    </div>
    <div class="contributeGuide">
      <%= render partial: "contribute_list" %> 
    </div> 
</div> 
<div class="hidden chartData">
  <% @degrees.each do |d| %>
  <div class="item">
    <div class="tagContent"><%= tag_content(d.tag_id) %></div>
    <div class="correctPerc"><%= correct_percentage(d.tag_id) %></div>
  </div>
  <% end %>
</div>
</div>


<%= javascript_include_tag "Chart.min" %>
<script type="text/javascript">
  $(document).ready(function() {
    var ctx = $("#allLangChart")[0].getContext("2d");
    var labels = [];
    var data = []
    $(".tagContent").each(function() { labels.push($(this).text()) });
    $(".correctPerc").each(function() { data.push($(this).text()) });
    console.log(labels);
    console.log(data);

    var data = {
      labels : labels,
      datasets : [
        {
          fillColor : "rgba(54,54,54,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          data : data 
        }
      ]
    }
    new Chart(ctx).Radar(data, {scaleShowLabels : false, pointLabelFontSize : 20});

    $('#contributeForm1, #contributeForm2, #contributeForm3').magnificPopup({
      delegate: 'a',
      removalDelay: 500, //delay removal by X to allow out-animation
      callbacks: {
        beforeOpen: function() {
           this.st.mainClass = this.st.el.attr('data-effect');
        }
      },
      midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    }); 
  });
</script>
