<div class="userIndexrow">
  <div class="leftRow">
    <%= render partial: "analytic_table" %>
    <div class="analyticChart">
      <canvas id="allLangChart" width="700px" height="700px"></canvas>
    </div>
  </div>
  <div class="rightRow"> 
    
    <div class="contributeButton"> 
      <a href="<%= home_users_contribute_guide_path %>"> 
        Apply To Contribute 
      </a> 
    </div> 
  </div> 
</div> 
<div class="hidden chartData">
  <% @degrees.each do |d| %>
  <div class="item">
    <div class="tagContent"><%= tag_content(d.tag_id) %></div>
    <div class="correctPerc"><%= correct_percentage(d.tag_id) %></div>
  </div>
  <% end %>
<div>

<%= javascript_include_tag "Chart.min" %>
<script type="text/javascript">
  $(document).ready(function() {
    var ctx = $("#allLangChart")[0].getContext("2d");
    var labels = [];
    var data = []
    $(".tagContent").each(function() { labels.push($(this).text()) });
    $(".correctPerc").each(function() { data.push($(this).text()) });
    console.log(labels);
    console.log(data);

    var data = {
      labels : labels,
      datasets : [
        {
          fillColor : "rgba(54,54,54,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          data : data 
        }
      ]
    }
    new Chart(ctx).Radar(data, {scaleShowLabels : false, pointLabelFontSize : 20});
  });
</script>
