<div class="loginForm">
  <h1>ログイン画面</h1>
  <%= form_for @session, url: admin_user_sessions_path do |f| %>
    ユーザ名：<%= f.text_field :username %><br />
    パースワード：<%= f.password_field :password %><br />
    <%= f.check_box :remember_me %>：記憶する<br />
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  <% end %>
</div>
